<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOKSTORE</title>
    <link rel="stylesheet" href="global.css" />
</head>
<body >
   <div class = "newpage">
    <div id = "welcomepage">
    <h1> <%= poraka %></h1>
    <img src = "/images/png-transparent-diwan-bookstore-logo-publishing-book-angle-text-reading-thumbnail-Photoroom.png" />
    <h2> <%= ime %> <%= prezime %></h2>
    
    <%- include('partials/footer') %>
    </div>
    
   </div>
</body>
</html>